<div class="toast ajaxcart-toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
  <button type="button" class="ajaxcart-toast__close close" data-dismiss="toast" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="toast-body"></div>
</div>

{%- if settings.cart_type == 'drawer' -%}
	<div class="drawer__overlay js-drawer-close"></div>
	<div class="js-drawer drawer drawer--right drawer--has-fixed-footer">
		<div class="pre_order-cart hidden">
			{% for item in collections.all.products %}
				{{forloop.index}}
				{%- for variant in item.variants -%}
					{% if variant.incoming  %}
						<span data-handle="{{ variant.id }}"></span>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
		<div class="drawer__header">
			<div class="drawer__title">{{ 'cart.general.title' | t }} (<span class="count">0</span>)</div>
			<button type="button" class="drawer__close-button js-drawer-close">
				{{ 'cart.general.close' | t }}
			</button>
			{%- if settings.price_shipping_bar != blank -%}
				{%- assign price_shipping_bar 	= settings.price_shipping_bar | times: 100 -%}
				{%- assign spend 				= price_shipping_bar | minus: cart.total_price -%}
				{%- assign percent				= cart.total_price | times: 100 | divided_by: price_shipping_bar  -%}
				{%- assign spend 				= spend | money -%}
				<div class="shipping-bar-cart hidden" data-price_shipping_bar="{{ price_shipping_bar }}">
						<div class="title-spend">{{ 'cart.general.free_shipping_html' | t: spend: spend }}</div>
						<div class="title-shipping hide">{{ 'cart.general.free_shipping' | t }}</div>
					<div class="shipping-progress_bar"><div class="shipping-progress"></div></div>
				</div>
			{%- endif -%}
		</div>
		<div class="drawer__inner">
			<div class="ajaxcart-container fire-done" data-cart-container></div>
		</div>
	</div>
{%- endif -%}

{%- if settings.scroll_to_top -%}
	<div class="js-scroll-to-top scroll-to-top">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 216.345;"></path>
		</svg>
	</div>
{%- endif -%}

{%- if settings.cookie_consent_enable -%}    
    <div class="cookie" role="dialog" aria-label="cookieconsent">
        <div class="cookie__content">
            <div class="cookie__heading">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 97.46 65.656">
                    <g transform="translate(-1.27 -17.172)">
                        <path d="M61.772,42.73a37.7,37.7,0,0,0-1.056-4.167c-.6-1.622-1.846-1.98-3.207-.881a1.423,1.423,0,0,1-2.062.075c-1.455-1.089-2.453-.45-3.026.97-.6,1.474-1.2,1.38-2.106.3-1.033-1.233-2.094-1.338-3.223-.024-1.044,1.216-1.62.771-1.946-.625-.4-1.712-1.249-2.543-3.091-1.475-1.161.674-1.814-.114-1.441-1.115.8-2.155-.172-2.873-2.045-3.249-1.2-.244-1.292-.92-.553-1.862,1.008-1.286.953-2.487-.471-3.478-1.039-.724-1.185-1.331.1-2.034,1.416-.776,1.825-1.743,1.145-3.531-.894-2.342-2.547-2.139-4.558-2.091a7,7,0,0,0-3.8.531,13.535,13.535,0,0,1-6.1,1.056C17.835,20.8,14,25.294,9.958,29.118c-3.391,3.211-5.021,7.741-7.215,11.819a12.174,12.174,0,0,0-1.264,8.117A17.884,17.884,0,0,1,1.892,54.4a13.252,13.252,0,0,0,2.77,10.282c1.791,2.34,3.144,4.957,4.778,7.38,2.9,4.294,7.5,6.438,12.063,8.368,1.849.781,4.071.767,5.99,1.585a8.534,8.534,0,0,0,7.621-.179,5.1,5.1,0,0,1,3.132-.549,8.311,8.311,0,0,0,5.366-1.224c2.36-1.345,4.573-2.989,7.026-4.118A9.982,9.982,0,0,0,55.59,71.4a25.42,25.42,0,0,1,3.035-4.42,12.228,12.228,0,0,0,2.229-3.9c.777-2.311,1.555-4.622,2.3-6.943a11.569,11.569,0,0,0,.044-7.8A52.577,52.577,0,0,1,61.772,42.73Zm-1.4,4.813a1.845,1.845,0,0,1-1.561,1.73c-.915-.121-1.61-.649-1.624-1.459a1.78,1.78,0,0,1,1.754-1.78A1.359,1.359,0,0,1,60.375,47.543ZM23.09,23.037A1.872,1.872,0,0,1,25.033,24.6c-.471,1.083-.771,2.381-2.108,2.187-.914-.133-2.081-.886-2.068-1.865A2.053,2.053,0,0,1,23.09,23.037ZM8.724,35.571c.916-.019,1.562.289,1.571,1.323A1.5,1.5,0,0,1,8.763,38.4c-.923.083-1.383-.655-1.409-1.541S7.888,35.6,8.724,35.571ZM6.642,64.719c-.758.047-1.173-.688-1.046-1.466-.047-1,.254-1.9,1.218-2,.9-.1,1.278.723,1.343,1.574A1.611,1.611,0,0,1,6.642,64.719Zm19.732,14.5c-.957-.057-2.059.136-2.109-1.073-.044-1.076,1.023-1.441,1.83-1.4.838.046,2.155.078,2.233,1.214C28.416,79.268,27.121,79.058,26.374,79.223ZM52.46,69.266c-1.134-.018-1.428-.811-1.469-1.706-.039-.852.384-1.192,1.33-1.185,1.009.009,1.687.126,1.652,1.234C54.013,68.731,53.534,69.281,52.46,69.266Zm2.907-2.145c-.78-1.588-1.962-2.488-3.77-1.943A2.452,2.452,0,0,0,49.763,67.8c.083,1.917,1.423,2.676,3.132,2.978a2.908,2.908,0,0,1-2.051,2.356c-2.581,1.021-4.72,2.739-7.034,4.18a8.123,8.123,0,0,1-6.107,1.5c-1.331-.271-2.5.555-3.728.909a7.124,7.124,0,0,1-2.919.658c-1.066-.145-2.611.291-1.72-1.9.458-1.123-.531-2.023-1.688-2.351-1.688-.478-3.531-.538-4.362,1.207-.583,1.225-1.124.934-1.951.724a7.536,7.536,0,0,1-2.964-1.7c-.606-.51-1.151-1.252-1.85-1.461-4.144-1.231-5.677-4.8-7.533-8.116A1.515,1.515,0,0,1,8.9,65.02a3.76,3.76,0,0,0,.021-3.535c-.43-1.039-1.446-1.815-2.4-1.214-1.882,1.19-1.9-.153-2.278-1.3A7.053,7.053,0,0,1,3.9,55.778a25.379,25.379,0,0,0-.284-7.3c-.546-3.55.731-6.485,2.746-9.249.323-.443.538-.541,1.025-.236,1.522.949,2.958.9,3.786-.852.753-1.593-.282-3.077-2.416-3.741,2.764-4.467,6.758-7.55,11.326-10.629.013,1.9.115,3.262,1.758,3.923,2.244.9,4.429-.458,4.166-2.869-.133-1.218.286-1.543,1.278-1.645,2.1-.219,3.993-1.168,6.018-1.647a3.415,3.415,0,0,1,2.326,0c.788.393,1.528.848.447,1.916-2.037,2.014-2.055,2.658-.4,5.176a1.071,1.071,0,0,1,.073,1.335,3.132,3.132,0,0,0-.333.792c-.252.959-.229,2.368.495,2.593,3.1.964,1.63,6.037,5.58,6.014a1.805,1.805,0,0,1,1.917.958c.941,1.69,2.57,1.757,4.156,1.2.753-.266,1.223-.668,2.082-.079a2.988,2.988,0,0,0,4.242-.648c.326-.363.562-.892,1.2-.538.284.006.569.035.852.016.973-.068,2.478-.565,2.8-.143.668.865.608,2.253,1.021,3.362.6,1.608-.3,1.67-1.447,1.588-1.954.9-2.581,2.1-1.913,3.633.7,1.607,2.165,1.951,4.64,1.083C62.316,53.305,59.271,62.715,55.367,67.121Z"></path>
                        <path class="a" d="M75.644,46.364c.323-2.068-1.211-3.063-2.432-4.21-2.482-2.332-4.216-2.1-6.06.743a3.576,3.576,0,0,0-.383,3.478,4.628,4.628,0,0,1,.188,2.869c-.6,3-.378,3.188,3.064,3.188,2.72,1.315,3.67-1.652,5.312-3.17C76.092,48.559,75.492,47.335,75.644,46.364Zm-2.223.124c-.026.313-.168.611-.484.611-1.6,0-1.471,1-1.2,2.051.314,1.211-.537,1.075-1.229,1.129-1.087.087-1.734-.112-1.136-1.417A3.076,3.076,0,0,0,69,46.177a2.229,2.229,0,0,1,.705-2.871c.513-.469,1.042-.548,1.51-.042C72.105,44.226,73.558,44.821,73.421,46.488Z"></path>
                        <path class="a" d="M96.907,63.825c-1.528-.337-3.1-.484-4.651-.716C90.131,63,90.14,63,90.623,65.077a6.727,6.727,0,0,1,.137,1.277c.091,2.575,1.253,3.5,3.807,2.843a6.78,6.78,0,0,0,3.419-2.109C99.285,65.612,98.858,64.257,96.907,63.825ZM93.151,66.9c-.246-.1-.494-.975-.366-1.1.936-.883,1.778.372,3.136-.17C94.894,66.791,94.133,67.3,93.151,66.9Z"></path>
                        <path class="a" d="M94.121,47.574c0-1.846-2.431-5.058-3.891-5.135-.5-.026-3.3,4.021-3.274,4.738.046,1.176,3.063,3.562,4.484,3.545C93.235,50.7,94.119,49.664,94.121,47.574Zm-2.825.764c-.723-.15-1.649-.478-1.718-1.338-.045-.557.509-1.435,1.071-1.425.87.016,1.2.867,1.293,1.679C91.859,47.732,92.076,48.5,91.3,48.338Z"></path>
                        <path class="a" d="M89.5,39.344c.067-1.345.6-2.669.184-4.037a4.405,4.405,0,0,0-4.12-2.938c-1.4-.131-.656,1.808-1.151,2.736a8.852,8.852,0,0,0-.317,2.78c-.809,1.474.625,1.571,1.875,1.759.845.129,1.7.189,2.556.239C88.938,39.906,89.471,39.956,89.5,39.344Zm-2.626-1.853c-.473,0-.451-.459-.453-.8,0-.411-.039-.906.506-1.01.581-.111.688.322.726.78C87.62,36.978,87.511,37.491,86.876,37.491Z"></path>
                        <path class="a" d="M67.406,28.47A4.1,4.1,0,0,0,69.47,27.2c.784-.891.526-1.709-.651-1.97-.923-.2-1.871-.292-2.809-.433-1.282-.065-1.276-.066-.985,1.188a4.069,4.069,0,0,1,.082.771C65.161,28.31,65.864,28.864,67.406,28.47Zm-1.075-2.049c.564-.532,1.072.225,1.893-.1-.619.7-1.079,1-1.672.764C66.4,27.022,66.254,26.494,66.331,26.421Z"></path>
                        <path class="a" d="M56.993,21.832c1.01-.011,1.507-.6,1.508-1.772,0-1.038-1.368-2.846-2.189-2.888a7.316,7.316,0,0,0-1.842,2.665C54.5,20.5,56.194,21.841,56.993,21.832Zm-.445-2.9c.489.009.674.487.727.946-.047.268.075.7-.362.609-.407-.083-.929-.269-.967-.751C55.92,19.424,56.23,18.929,56.548,18.935Z"></path>
                        <path class="a" d="M44.069,33.562c.452.067.911.1,1.367.127.219.012.5.04.521-.288a6.037,6.037,0,0,0,.1-2.16,2.358,2.358,0,0,0-2.206-1.572c-.748-.07-.35.967-.615,1.464a4.719,4.719,0,0,0-.17,1.487C42.633,33.408,43.4,33.459,44.069,33.562Zm.512-2.119c.311-.06.368.172.389.417-.019.274-.077.549-.417.549-.252,0-.241-.245-.243-.426C44.31,31.764,44.289,31.5,44.581,31.443Z"></path>
                        <path class="a" d="M48.335,54.3a3.544,3.544,0,0,0-3.484,3.6,3.881,3.881,0,0,0,4.129,3.733,3.615,3.615,0,0,0,3.247-3.611A3.8,3.8,0,0,0,48.335,54.3Zm.141,6.118a2.5,2.5,0,0,1-2.6-2.566c.079-1.37.858-2.439,2.842-2.422a2.307,2.307,0,0,1,2.21,2.346A2.276,2.276,0,0,1,48.476,60.415Z"></path>
                        <path class="a" d="M32.441,37.87A4.108,4.108,0,0,0,28.3,33.56a3.889,3.889,0,0,0-3.789,3.907,4.173,4.173,0,0,0,4.049,4.178A3.773,3.773,0,0,0,32.441,37.87Zm-6.967-.318a2.9,2.9,0,0,1,2.9-2.861,3.288,3.288,0,0,1,3.1,2.983A3.362,3.362,0,0,1,28.5,40.617,3.154,3.154,0,0,1,25.474,37.552Z"></path>
                        <path class="a" d="M31.333,54.294c-1.607.055-2.833,1.641-2.851,3.686-.018,2.13,1.428,3.887,3.193,3.88,1.432-.007,2.723-1.708,2.7-3.565C34.357,56.064,32.966,54.237,31.333,54.294Zm.013,6.242A1.947,1.947,0,0,1,29.577,58.1c.168-1.215.3-2.764,2.123-2.606,1.332.117,1.132,1.409,1.464,2.322C32.457,58.7,33.029,60.562,31.346,60.536Z"></path>
                        <path class="a" d="M12.542,46.334a3.606,3.606,0,0,0-3.654,3.682,3.8,3.8,0,0,0,3.9,3.738,3.445,3.445,0,0,0,3.427-3.421A3.891,3.891,0,0,0,12.542,46.334Zm-.209,6.411a2.859,2.859,0,0,1-2.41-2.63,2.782,2.782,0,0,1,2.622-2.837,2.583,2.583,0,0,1,2.528,2.487C15.1,51.177,13.471,52.981,12.333,52.745Z"></path>
                        <path class="a" d="M40.751,68.317a3.432,3.432,0,0,0-3.915,3.33,3.689,3.689,0,0,0,3.582,3.766,3.351,3.351,0,0,0,3.649-3.1A3.658,3.658,0,0,0,40.751,68.317Zm-.305,6.054a2.3,2.3,0,0,1-2.451-2.436c.02-1.613.829-2.646,2.447-2.617,1.5.027,2.225,1.068,2.351,2.555C42.658,73.321,41.953,74.438,40.446,74.371Z"></path>
                        <path class="a" d="M22.854,61.452A2.61,2.61,0,0,0,20,64.034a2.958,2.958,0,0,0,2.992,3.015,2.429,2.429,0,0,0,2.648-2.083C25.637,62.729,24.518,61.452,22.854,61.452ZM22.789,65.8c-1.032.065-1.655-.362-1.647-1.462.008-1.177.573-1.939,1.788-1.931.991.009,1.5.687,1.658,1.646A1.777,1.777,0,0,1,22.789,65.8Z"></path>
                        <path class="a" d="M40.862,51.094a2.162,2.162,0,0,0,2.364-2.259,2.768,2.768,0,0,0-2.781-2.9,2.349,2.349,0,0,0-2.4,2.517A2.6,2.6,0,0,0,40.862,51.094ZM40.5,46.952a1.509,1.509,0,0,1,1.639,1.4c.1.947-.665,1.316-1.389,1.46a1.453,1.453,0,0,1-1.639-1.473A1.374,1.374,0,0,1,40.5,46.952Z"></path>
                    </g>
    
                </svg>   
                <h2>{{ settings.cookie_title | escape }}</h2>
            </div>
            
            <p>{{ settings.cookie_consent_message }}</p>
        </div>
        <div class="cookie__settings">
    
            <div class="cookie__form-check">
                <div class="checkbox">
                    <label>
                        <input id="checkboxNoodzakelijk" type="checkbox" checked="checked" disabled="disabled">
                        <span class="check">
                            <svg viewBox="0 0 32 32">
                                <polygon points="27.672,4.786 10.901,21.557 4.328,14.984 1.5,17.812 10.901,27.214 30.5,7.615 "></polygon>
                            </svg>
                        </span>                        
                        {{ settings.cookie_necessary_heading | escape }}
                    </label>
                </div>
            </div>
            <p>{{ settings.cookie_necessary_message }}</p>
    
            <div class="cookie__form-check">
                <div class="checkbox">
                    <label>
                        <input id="checkboxAnalytics" type="checkbox">
                        <span class="check">
                            <svg viewBox="0 0 32 32">
                                <polygon points="27.672,4.786 10.901,21.557 4.328,14.984 1.5,17.812 10.901,27.214 30.5,7.615 "></polygon>
                            </svg>
                        </span>
                        {{ settings.cookie_analytics_heading | escape }}                        
                    </label>
                </div>
            </div>
            <p>{{ settings.cookie_analytics_message }}</p>
    
            <a class="btn btn-dark btn-sm" href="#" data-action="cookie-save">{{ settings.cookie_save_button | escape }}</a>
            <a class="btn btn-sm" href="#" data-cookie="cookie-deny">{{ settings.cookie_consent_button | escape }}</a>
    
        </div>
    
        <div class="cookie__footer">
            <a class="btn btn-dark btn-sm" href="#" data-cookie="accept">{{ settings.cookie_agree_button | escape }}</a>
            <a class="btn btn-sm" href="#" data-cookie="deny">{{ settings.cookie_consent_button | escape }}</a>
            <a class="btn btn-sm" href="#" data-action="cookie-adjust">{{ settings.cookie_adjust_button | escape }}</a>
        </div>
    </div>
{%- endif -%}


{%- if settings.newsletter_popup_enable -%}
	<div class="js-newsletter-popup newsletter-popup">
		<div class="js-newsletter-popup-close newsletter-popup__overlay"></div>
		<div class="newsletter-popup__inner">
			<button class="js-newsletter-popup-close newsletter-popup__close" type="button">
			</button>
			<div class="image">
				{%- if settings.newsletter_popup_image -%}
					<img class="newsletter-popup__image" src="{{ settings.newsletter_popup_image | image_url:width:settings.newsletter_popup_image.width,height:settings.newsletter_popup_image.height }}" alt="{{ settings.newsletter_popup_image.alt | escape }}" width="{{ settings.newsletter_popup_image.width }}" height="{{ settings.newsletter_popup_image.height }}" data-image />
				{%- else -%}
					<img src="https://placehold.jp/360x460.png"  width="360" height="460" />
				{%- endif -%}
			</div>
			<div class="newsletter-popup__content">
				<div class="newsletter-popup__content-inner">
					<div class="title-newsletter">{{ settings.newsletter_popup_title }}</div>
					<div class="text-newsletter">{{ settings.newsletter_popup_subtitle }}</div>
					{%- if settings.newsletter_popup_form -%}
						{%- assign mailchimp = settings.newsletter_popup_mailchimp -%}
						{%- assign mailchimp_action = settings.newsletter_popup_form_action | replace: '/post?', '/post-json?' | append: '&amp;c=?' -%}
						{%- if mailchimp -%}
							<form class="js-wpbingo-newsletter" action="{{ mailchimp_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
								<div class="newsletter-form__wrap">
									<input class="js-input-newsletter form-control newsletter-form__input" type="email" name="EMAIL"
										value="{% if customer %}{{ customer.email }}{% endif %}"
										placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}..." required />
									<button class="btn newsletter-form__submit" type="submit">
										<i class="feather-mail"></i>
									</button>
								</div>
							</form>
						{%- else -%}
							{% form 'customer' %}
								{{ form.errors | default_errors }}
								{%- if form.posted_successfully? -%}
									<div class="js-newsletter-popup-success alert alert-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
								{%- else -%}
									<input type="hidden" name="contact[tags]" value="newsletter">
									<div class="newsletter-form__wrap">
										<input value="{% if customer %}{{ customer.email }}{% endif %}"
											placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}..."
											name="contact[email]" class="form-control newsletter-form__input" type="email" 
											autocorrect="off"
											autocapitalize="off"/>
										<button class="js-newsletter-popup-submit btn newsletter-form__submit" type="submit">
											<i class="feather-mail"></i>
										</button>
									</div>
								{%- endif -%}
							{% endform %}
						{%- endif -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
{%- endif -%}

{%- if settings.verify_popup_enable -%}
	<div class="js-verify-popup verify-popup">
		<div class="close-overlay"></div>
		<div class="content-verify">
			<div class="verify-info">
				{%- if settings.verify_popup_title -%}<h2 class="title">{{ settings.verify_popup_title }}</h2>{%- endif -%}
				{%- if settings.verify_popup_info -%}<div class="info">{{ settings.verify_popup_info }}</div>{%- endif -%}
				{%- if settings.verify_popup_allow or settings.verify_popup_disallowance -%}<div class="group-button">
					{%- if settings.verify_popup_allow -%}<button class="button-allow">{{ settings.verify_popup_allow }}</button>{%- endif -%}
					{%- if settings.verify_popup_disallowance -%}<button class="button-not-allow">{{ settings.verify_popup_disallowance }}</button>{%- endif -%}
				</div>{%- endif -%}
			</div>
			{%- if settings.verify_popup_disallowance_content -%}
			<div class="alert-verify hidden">
				<i class="feather-alert-triangle"></i>{{ settings.verify_popup_disallowance_content }}
			</div>
			{%- endif -%}
		</div>
	</div>
{%- endif -%}

{%- if settings.quickview_enable -%}
	<div class="quickview" data-quickview data-stock-show="{{ settings.quickview_availability }}" data-type-show="{{ settings.quickview_protype }}" data-vendor-show="{{ settings.quickview_vendor }}" >
		<div class="quickview__overlay" data-quickview-close></div>
		<div class="quickview__content {{ settings.style_option }}">
			<button type="button" class="quickview__btn-close" data-quickview-close></button>
			<div data-quickview-container></div>
		</div>
	</div>
{%- endif -%}

{%- if settings.show_gift_card -%}
	<div class="gift_card-container" data-gift-card >
		<div class="gift_card__overlay" data-gift-card-close></div>
		<div class="gift_card__content">
			<button type="button" class="gift_card__btn-close" data-gift-card-close></button>
			<div data-gift-card-container></div>
		</div>
	</div>
{%- endif -%}
<div class="edit_variant-cart-container" data-edit_variant-cart >
	<div class="edit_variant-cart__content">
		<button type="button" class="edit_variant__btn-close" data-edit_variant-cart-close></button>
		<div data-edit_variant-cart-container></div>
	</div>
</div>
{%- if settings.cart_type == 'modal' -%}
<script id="ajaxcart-header-template" type="text/template">
	{% raw %}
    <div class="js-cart-modal cart-modal">
		<div class="js-cart-modal-close cart-modal__overlay"></div>
		<div class="cart-modal__inner">
	{% endraw %}
			<a class="js-cart-modal-close cart-modal__close" href="javascript:void(0)">
			</a>
			<div class="cart-modal__header">
				<div class="cart-modal__messenger">{{ 'cart.general.added_to_cart' | t }}</div>
				<div class="cart-modal-totalcount">{{ 'cart.general.cart_modal_count_html' | t: item_count: cart.item_count }}</div>
			</div>
			<form action="{{ routes.cart_url }}" id="form-modal-addtocart" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
				{% raw %}
					<input type="hidden" data-modal-variant name="id" value="{{variant_id}}">
				{% endraw %}
				<div class="cart-modal__middle">
					<div class="cart-modal__product">
						<div class="image-product">
							{% raw %}<img class="img-fluid" alt="{{name}}" src="{{image}}"/>{% endraw %}
						</div>
						<div class="info-product">
							{% raw %}<div class="cart-modal__name">{{name}}</div>
							{{#if variant}}
								<div class="variant"></div>
							{{/if}}
							<div class="modalcart__quantity">
									<button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus wpbingo-qty__adjust wpbingo-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
										<i class="feather-minus" aria-hidden="true"></i>
									</button>
									<input type="text" name="quantity" class="ajaxcart__qty-num wpbingo-qty__number" value="{{quantity}}" min="0" aria-label="quantity" pattern="[0-9]*">
									<button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus wpbingo-qty__adjust wpbingo-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
										<i class="feather-plus" aria-hidden="true"></i>
									</button>
							</div>
							{{#if discount}}
								<div class="discount"></div>
							{{/if}}
							<div class="modalcart__line_price">
								<div class="price_discount"></div>
								<div class="price"><span class="money">{{final_line_price}}</span></div>{% endraw %}
							</div>
						</div>
					</div>
					<div class="cart-modal__content">
						<div class="cart-modal-totalprice">{{ 'cart.general.cart_total' | t }}<span>{{ cart.total_price | money }}</span></div>
						{%- if settings.currency_type == '2' and settings.notify_currency and settings.mess_currency != blank %}{% assign cart_iso_code = cart.currency.iso_code %}{% assign text1 = '{{ currency }}' -%}
							<div class="ajaxcart-currency" data-currency-jsnotify>
								<div class="content">
									<div class="marquee">
										<p>
											{{ settings.mess_currency | replace:text1,cart_iso_code | replace:'[currency]',cart_iso_code | replace:'[original_currency]',cart_iso_code | replace:'[current_currency]','<span class="selected-currency"></span>' }}
										</p>
									</div>
								</div>
							</div>
						{%- endif -%}
						{% comment %} terms and conditions checkbox {% endcomment %}
							{% if settings.show_terms_conditions %}
								<p class="ajaxcart_terms_conditions">
									<input style="float:none; vertical-align: middle;" type="checkbox" class="agree_terms_conditions" />
									<label style="display:inline; float:none" for="agree">
										{{ settings.content_terms_conditions }}
									</label>
								</p>
							{% endif %}
						{% comment %} end terms and conditions checkbox {% endcomment %}
						<div class="cart-modal__funcs">
							<button class="btn cart-modal__btn cart-modal__btn--viewcart" type="submit">
								{{ 'cart.general.viewcart' | t }}
							</button>
							<button class="btn cart-modal__btn cart-modal__btn--checkout" type="submit" name="checkout">
								{{ 'cart.general.checkout' | t }}
							</button>
						</div>
						{%- if settings.price_shipping_bar != blank -%}
							{%- assign price_shipping_bar 	= settings.price_shipping_bar | times: 100 -%}
							{%- assign spend 				= price_shipping_bar | minus: cart.total_price -%}
							{%- assign percent				= cart.total_price | times: 100 | divided_by: price_shipping_bar  -%}
							{%- assign spend 				= spend | money -%}
							<div class="shipping-bar-cart hidden" data-price_shipping_bar="{{ price_shipping_bar }}">
								<div class="title-spend">{{ 'cart.general.free_shipping_html' | t: spend: spend }}</div>
								<div class="title-shipping hide">{{ 'cart.general.free_shipping' | t }}</div>
								<div class="shipping-progress_bar"><div class="shipping-progress"></div></div>
							</div>
						{%- endif -%}
					</div>
				</div>
			</form>
	{% raw %}
			<div class="cart-modal-recommendations"></div>
		</div>
    </div>
	{% endraw %}		
</script>
{%- endif -%}
<script id="ajaxcart-template" type="text/template">
{% raw %}
<form action="{% endraw %}{{ routes.cart_url }}{% raw %}" method="post" novalidate class="cart ajaxcart ajaxcart--header">
    <div class="ajaxcart__inner">
		{{#items}}
		<div class="ajaxcart__product data-edit_variant-popup-item" data-line="{{line}}">
			<div class="ajaxcart__line-item content-edit_variant-popup">
				<div class="ajaxcart__line-item--left">
					<div class="ajaxcart__product-image-wrapper image-popup">
						<a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
					</div>
				</div>
				<div class="ajaxcart__line-item--right">
					<div class="ajaxcart__product-description">
						<div class="ajaxcart__product-name-wrapper">
							<a href="{{url}}" class="ajaxcart__product-name">{{{name}}}</a>
							{{#if variation}}
							<div class="ajaxcart__product-meta">
								{{#each options}}
									<span>{{ this.name }}: {{ this.value }}</span>
								{{/each}}
							</div>
							{{/if}}
							{{#properties}}
								{{#each this}}
									{{#if this}}
										<span class="ajaxcart__product-metas">{{@key}}: {{this}}</span>
									{{/if}}
								{{/each}}
							{{/properties}}
							{{#if discountsApplied}}
								<ul class="product-discount product-discount--ajax-cart" aria-label="{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}">
									{{#each discounts}}
										<li class="product-discount__item">
											<span class="fa fa-tag" aria-hidden="true"></span>{{ this.discount_application.title }} (-{{{ this.formattedAmount }}})
										</li>
									{{/each}}
								</ul>
							{{/if}}
							<div class="ajaxcart__product-price-wrapper">
								{{#if discountsApplied}}
									<del class="ajaxcart__price ajaxcart__price--regular">{{{price}}}</del>
									<span class="ajaxcart__price ajaxcart__price--sale">{{{discountedPrice}}}</span>
								{{else}}
									<span class="ajaxcart__price">{{{price}}}</span>
								{{/if}}
								{{#if unitPrice}}
									<span class="d-none">{% endraw %}{{ 'products.general.unit_price' | t }}{% raw %}</span>
									<span class="cart__unit-price">
										{% endraw %}
											{%- capture unit_price_separator -%}
												<span aria-hidden="true">/</span><span class="d-none">&nbsp;{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
											{%- endcapture -%}
										{% raw %}
										<span>{{{ unitPrice.price }}}</span>{% endraw %}{{- unit_price_separator -}}{% raw %}{{#if unitPrice.addRefererenceValue }}{{{ unitPrice.reference_value }}}{{/if}}{{{ unitPrice.reference_unit }}}
									</span>
								{{/if}}
								{% endraw %}
									<div class="pre_order hide">( {{ 'products.product.pre_order' | t }} )</div>
								{% raw %}
							</div>
							{{#if variation}}{% endraw %}
								<div class="cart-product-edit_variant" data-title="{{ 'cart.general.edit_variant' | t }}" {% raw %} data-id_variant="{{variant_id}}" data-line="{{line}}" data-value="{{itemQty}}" data-handle="{{ handle }}">
									<i class="feather-edit-3"></i>
								</div>
							{{/if}}
							<div class="drawer__quantity">
								<div class="ajaxcart__qty wpbingo-qty">
								  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus wpbingo-qty__adjust wpbingo-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}">
										<i class="feather-minus" aria-hidden="true"></i>
								  </button>
								  <input type="text" name="updates[]" class="ajaxcart__qty-num wpbingo-qty__number" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
								  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus wpbingo-qty__adjust wpbingo-qty__adjust--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}">
										<i class="feather-plus" aria-hidden="true"></i>
								  </button>
								</div>
								<a class="ajaxcart__remove" href="javascript:void(0)" data-line="{{line}}" data-cart-remove>{% endraw %}{{ 'cart.general.remove' | t }}{% raw %}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/items}}
    </div>
    <div class="ajaxcart__footer">{% endraw %}
		{% if settings.cart_type == 'drawer' %}
			{{ checkout.total_price | money }}
			<div class="ajaxcart__info">
				<div class="ajaxcart__info_header">
					{% for item in collections.all.products %}
						{% if item.type == "Gift Cards" %}
							{%- assign price = item.price | money -%}
							{%- assign handle = item.handle -%}
						{% endif %}
					{% endfor %}
					{% if settings.show_gift_card %}
						<div class="gift-wrap">
							<div class="gift-wrap-title" data-gift_card="{{ handle }}">
								<div class="icon-gift"><i class="feather-gift"></i></div>
								<span>{{ settings.content_gift_card }}</span>
							</div>
						</div>
					{% endif %}
					{% if settings.cart_notes_enable %}
						<div class="button_note"><i class="feather-edit-3"></i><span>{{ 'cart.general.button_note' | t }}</span></div>
					{% endif %}
					{% if settings.cart_coupon_enable %}
						<div class="button_discount"><i class="feather-percent"></i><span>{{ 'cart.general.button_discount' | t }}</div>
					{% endif %}
					{% if settings.cart_shipping_enable %}
						<div class="button_shiping"><i class="feather-package"></i><span>{{ 'cart.general.button_shiping' | t }}</div>
					{% endif %}
				</div>
				<div class="ajaxcart__info_content">
					{% if settings.cart_coupon_enable %}
						{% include 'discount-code' %}
					{% endif %}
					{% if settings.cart_notes_enable %}
						{% raw %}
							<div class="ajaxcart__note">
								<label class="ajaxcart__note-label">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
								<textarea name="note" class="ajaxcart__note-input form-control">{{note}}</textarea>
								{% endraw %}
								<div class="save save-ajaxcart__note">{{ 'cart.general.save_button' | t }}</div>
								<div class="close-ajaxcart__info">{{ 'cart.general.close_button' | t }}</div>
								{% raw %}
							</div>
						{% endraw %}
					{% endif %}
				</div>
			</div>
		{% endif %}
		{% raw %}
		{{#if cartDiscountsApplied}}
			<div class="ajaxcart__footer-discount">
				{{#each cartDiscounts}}
					<div class="order-discount order-discount--ajax-cart">
						<i class="fa fa-tag" aria-hidden="true"></i>
						<span class="d-none">{% endraw %}{{ 'customer.order.discount' | t }}{% raw %}:</span> {{ this.title }}
					</div>
					<div class="order-discount__value text-right">
						<span class="ajaxcart__price">-{{{ this.formattedAmount }}}</span>
					</div>
				{{/each}}
			</div>
		{{/if}}
		{% endraw %}
		{% if settings.cart_type == 'modal' %}
			{% if settings.show_gift_card %}
				{% for item in collections.all.products %}
					{% if item.type == "Gift Cards" %}
						{%- assign price = item.price | money -%}
						{%- assign handle = item.handle -%}
					{% endif %}
				{% endfor %}
				<div class="gift-wrap">
					<div class="gift-wrap-title" data-gift_card="{{ handle }}">
						<div class="icon-gift">{% include 'gift' %}</div>
						{{ settings.content_gift_card }} <label>{{ 'cart.general.gift_cards_price_html' | t: price: price }}</label>
					</div>
				</div>
			{% endif %}
		{% endif %}
		<div class="ajaxcart__footer-price">
			<span class="ajaxcart__subtotal-name">{{ 'cart.general.subtotal' | t }}{% raw %}</span>
			<span class="ajaxcart__subtotal">{{{totalPrice}}}</span>
		</div>
		{% endraw %}
		{% if settings.cart_type == 'modal' %}
			{%- if settings.price_shipping_bar != blank -%}
				{%- assign price_shipping_bar 	= settings.price_shipping_bar | times: 100 -%}
				{%- assign spend 				= price_shipping_bar | minus: cart.total_price -%}
				{%- assign spend 				= spend | money -%}
				<div class="shipping-bar-cart hidden" data-price_shipping_bar="{{ price_shipping_bar }}">
					<div class="title-spend">{{ 'cart.general.free_shipping_html' | t: spend: spend }}</div>
					<div class="title-shipping hide">{{ 'cart.general.free_shipping' | t }}</div>
					<div class="shipping-progress_bar"><div class="shipping-progress"></div></div>
				</div>
			{%- endif -%}
		{%- endif -%}
		<p class="ajaxcart__policies">
			{%- capture taxes_shipping_checkout -%}
				{%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
				{%- elsif shop.taxes_included -%}
					{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
				{%- elsif shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
				{%- else -%}
					{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
				{%- endif -%}
			{%- endcapture -%}
			{{ taxes_shipping_checkout }}
		</p>
		{%- if settings.currency_type == '2' and settings.notify_currency and settings.mess_currency != blank %}{% assign cart_iso_code = cart.currency.iso_code %}{% assign text1 = '{{ currency }}' -%}
			<div class="ajaxcart-currency" data-currency-jsnotify>
				<div class="content">
					<div class="marquee">
						<p>
							{{ settings.mess_currency | replace:text1,cart_iso_code | replace:'[currency]',cart_iso_code | replace:'[original_currency]',cart_iso_code | replace:'[current_currency]','<span class="selected-currency"></span>' }}
						</p>
					</div>
				</div>
			</div>
		{%- endif -%}
		{% comment %} terms and conditions checkbox {% endcomment %}
			{% if settings.show_terms_conditions %}
				<p class="ajaxcart_terms_conditions">
					<input style="float:none; vertical-align: middle;" type="checkbox" class="agree_terms_conditions" />
					<label style="display:inline; float:none" for="agree">
						{{ settings.content_terms_conditions }}
					</label>
				</p>
			{% endif %}
		{% comment %} end terms and conditions checkbox {% endcomment %}
		<div class="ajaxcart__footer-buttons">
			<div class="button-cart">
				<button class="btn cart-modal__btn cart-modal__btn--checkout" type="submit" name="checkout">
					{{ 'cart.general.checkout' | t }}
				</button>
			</div>
			<div class="button-cart">
				<button class="btn cart-modal__btn cart-modal__btn--viewcart" type="submit">
					{{ 'cart.general.viewcart' | t }}
				</button>
			</div>
		</div>{% raw %}
    </div>
	{% endraw %}{% if settings.cart_type == 'drawer' %}{% include 'shipping-calculator' %}{% endif %}{% raw %}
</form>
{% endraw %}
</script>
<script id="quickview-template" type="text/template">
{% raw %}
	<div class="product-quickview">
		<div class="row">
			<div class="img-quickview">
				<div class="product-quickview__images">
					<div class="quickview-images">{{{images}}}</div>
				</div>
			</div>
			<div class="bwp-single-info">
				<div class="content_product_detail">
					<div class="product-review">
						<div class="shopify-product-reviews-badge" data-id="{{id}}" data-quickview-review></div>
					</div>
					<h2 class="product-quickview_title">{{title}}</h2>
					{% endraw %}<div class="product__vendor">
						<div class="product__organization__label">{{ 'products.product.vendor' | t }}</div>
						<div class="product__organization__text">{% raw %}<a href="/collections/vendors?q={{vendor}}">{{vendor}}</a></div>
					</div>
					<div class="product-quickview__price">{{{price}}}</div>
					<div class="product-quickview__description"></div>
					<div class="countdown-quickview hidden">{% endraw %}<div class="icon">{% include 'clock' %}</div>{% raw %}<div class="content"></div></div>
					<div class="group-quickview"></div>
					<div class="product-quickview__variants wpb-variants-swatch">{{{variants}}}</div>
					{% endraw %}
					<form action="{{ routes.cart_add_url }}" id="form-simple-addtocart" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
						{% raw %}
							<input type="hidden" data-quickview-variant name="id" value="{{variantID}}">
						{% endraw %}
						<div class="product-quickview__avaiable">
							<div class="product-avaiable product-avaiable--active product-avaiable--instock">
								<div class="js-product-avaiable-text product-avaiable__text product-avaiable__text--instock">{{'products.product.in_stock' | t }}</div>
							</div>
							<div class="product-avaiable product-avaiable--outstock">
								<div class="js-product-avaiable-text product-avaiable__text product-avaiable__text--outstock">{{'products.product.out_stock' | t }}</div>
							</div>
						</div>
						<div class="product-quickview__buttons">
							<div class="product-quantity" data-quickview-quantity>
								<label class="product-quantity__label">{{ 'products.product.quantity' | t }}</label>
								<div class="product-quantity__selector">
									{%- if settings.quickview_quantity_selector == 'text' -%}
										<div class="wpbingo-qty">
											<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--minus" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
												<i class="feather-minus"></i>
											</button>
											<input type="text" name="quantity" class="js-qty-number wpbingo-qty__number" value="1" min="1" aria-label="quantity" pattern="[0-9]*">
											<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--plus" aria-label="{{ 'cart.general.increase_quantity' | t }}">
												<i class="feather-plus"></i>
											</button>
										</div>
									{%- else -%}
									<select name="quantity" class="product-quantity__select">
										{%- for i in (1..10) -%}
											<option {% if forloop.first %}selected="selected"{% endif %} value="{{ i }}">{{ i }}</option>
										{%- endfor -%}
									</select>
									{%- endif -%}
								</div>
							</div>
							<div class="product-single__add-to-cart">
								<button class="btn btn--add-to-cart" type="submit" name="add">
									<span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
								</button>
							</div>
						</div>
						<div class="product-quickview__buttons_external"></div>
					</form>
				</div>
			{% raw %}
			</div>
		</div>
	</div>
{% endraw %}
</script>
<script id="gift-card-template" type="text/template">
{% raw %}
	<div class="product-giftcard">
		<h2 class="product-giftcard_title">{{title}}</h2>
		<div class="row">
			<div class="img-giftcard">
				<div class="product-giftcard__images">
					<div class="giftcard-images">{{{images}}}</div>
				</div>
			</div>
			<div class="bwp-single-info">
				<div class="content_product_detail">
					<div class="product-giftcard__variants wpb-variants-swatch">{{{variants}}}</div>
					{% endraw %}
					<form action="{{ routes.cart_add_url }}" id="form-gift-card-addtocart" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
						{% raw %}
							<input type="hidden" data-edit_variant-variant name="id" value="{{variantID}}">
							<div class="product-giftcard__price">{{{price}}}</div>
						{% endraw %}
						<div class="product-giftcard__buttons">
							<div class="product-quantity" data-gift-card-quantity>
								<label class="product-quantity__label">{{ 'products.product.quantity' | t }}</label>
								<div class="product-quantity__selector">
									<div class="wpbingo-qty">
										<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--minus" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
											<i class="feather-minus"></i>
										</button>
										<input type="text" name="quantity" class="js-qty-number wpbingo-qty__number" value="1" min="1" aria-label="quantity" pattern="[0-9]*">
										<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--plus" aria-label="{{ 'cart.general.increase_quantity' | t }}">
											<i class="feather-plus"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="product-single__add-to-cart">
								<button class="btn btn--add-to-cart" type="submit" name="add">
									<span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			{% raw %}
			</div>
		</div>
	</div>
{% endraw %}
</script>
<script id="edit_variants-template" type="text/template">
{% raw %}
	<div class="product-edit_variants" data-line={{line}}>
		<div class="row">
			<div class="img-edit_variants">
				<div class="product-edit_variants__images">
					<div class="edit_variants-images">{{{images}}}</div>
				</div>
			</div>
			<div class="bwp-single-info">
				<div class="content_product_detail">
					<h2 class="product-edit_variants_title">{{title}}</h2>
					<div class="product-edit_variants__variants wpb-variants-swatch">{{{variants}}}</div>
					{% endraw %}
					<form action="{{ routes.cart_add_url }}" id="form-edit_variants-addtocart" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
						{% raw %}
							<input type="hidden" data-edit_variant-variant name="id" value="{{variantID}}">
							<div class="product-edit_variants__price">{{{price}}}</div>
						{% endraw %}
						<div class="product-edit_variants__buttons">
							<div class="product-quantity" data-edit_variant-quantity>
								<label class="product-quantity__label">{{ 'products.product.quantity' | t }}</label>
								<div class="product-quantity__selector">
									<div class="wpbingo-qty">
										<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--minus" aria-label="{{ 'cart.general.reduce_quantity' | t }}">
											<i class="feather-minus"></i>
										</button>
										{% raw %}
										<input type="text" name="quantity" class="js-qty-number wpbingo-qty__number" value="{{qty}}" min="1" aria-label="quantity" pattern="[0-9]*">{% endraw %}
										<button type="button" class="js-qty-adjust wpbingo-qty__adjust wpbingo-qty__adjust--plus" aria-label="{{ 'cart.general.increase_quantity' | t }}">
											<i class="feather-plus"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="product-single__add-to-cart">
								<button class="btn btn--add-to-cart" type="submit" name="add" disabled>
									<span class="btn__text">{{ 'products.product.replace_item' | t }}</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			{% raw %}
			</div>
		</div>
	</div>
{% endraw %}
</script>