<!DOCTYPE html>
  <html class="supports-fontface" lang="{{ shop.locale }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no, user-scalable=no">
      <meta name="theme-color" content="{{ settings.color_primary }}">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      {%- endif -%}
  
      {%- unless settings.type_header_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
  
      <title>{{ shop.name }}</title>
  
      <meta name="description" content="{{ page_description | escape }}">
  
      {% render 'meta-tags' %}
  
      {{ content_for_header }}
  
      {% render 'css-variables' %}
  
      {%- unless settings.type_body_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
      {%- endunless -%}
      {%- unless settings.type_header_font.system? -%}
        <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
      {%- endunless -%}
  
  
      {{ 'password.scss.css' | asset_url | stylesheet_tag }}
     
  
      <script>
        window.password = window.password || {};
        var password = {
          strings: {
            pageClose: {{ 'general.password_page.close' | t | json }}
          }
        };
      </script>
  
      <script>
        window.wildhoff = window.wildhoff || {};{%- if settings.store_develop -%}
          window.Shopify = window.Shopify || {};{%- endif -%}wildhoff.strings = {
          validateFieldMessage: {{ 'general.validation.required' | t | json }}
        };
      </script>
    </head>
  
    <body class="password gradient template-password"  
      {% if settings.pagetransitions_enabled %} data-barba="wrapper" {% endif %}>
  
      <main id="MainContent" class="" {% if settings.pagetransitions_enabled %}data-barba="container"data-barba-namespace="home"{% endif %}>
        {{ content_for_layout }}
      </main>
  
      {%- if settings.pagetransitions_enabled -%}
        <script src="{{ 'barba.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'pagetransitions.js' | asset_url }}" defer="defer"></script>
      {%- endif -%}
    </body>
  </html>
  