{%- if section.settings.fullwidth -%}
	{%- assign container = 'container-full' -%}
{%- elsif section.settings.max_width != blank -%}
	{%- assign container = 'bwp-container' -%}
{%- else -%}
	{%- assign container = 'container' -%}
{%- endif -%}

{%- assign max_width = '' -%}
{%- if section.settings.fullwidth == blank and section.settings.max_width != blank -%}
	{%- assign width_container = section.settings.max_width | plus: 0 -%}
	{%- capture max_width -%}style="max-width: {{ section.settings.max_width }};"{%- endcapture -%}
{%- endif -%}

{%- assign margin = '' -%}
{%- if section.settings.margin != blank -%}
  {%- capture margin -%}margin: {{ section.settings.margin }};{%- endcapture -%}
{%- endif -%}

{% assign margin 			= section.settings.margin | split: "|" %}
{% assign padding 			= section.settings.padding | split: "|" %}
{%- style -%}
	#shopify-section-{{ section.id }} .wpbingo-section--lookbook{
		background:{{ section.settings.color }};
	}
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-section-{{ section.id }} .wpbingo-section--lookbook{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1200px){
			#shopify-section-{{ section.id }} .wpbingo-section--lookbook{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-section-{{ section.id }} .wpbingo-section--lookbook{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-section-{{ section.id }} .wpbingo-section--lookbook{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
{%- endstyle -%}
<section class="wpbingo-section wpbingo-section--lookbook two-lookbook wpbingo-section--{{ section.id }}" data-id="{{ section.id }}">
	<div class="{{ container }}" {{ max_width }}>
		<div class="wpbingo-section__inner">
			<div class="wpbingo-lookbook__contents">
				<div class="lookbook__contents-left">
					{%- assign id = 0 -%}
					{%- assign j = 1 -%}
					<div class="wpbingo-lookbook__item">
						<div class="lookbook-card">
							<div class="lookbook-image">
								{%- if section.settings.image1 != blank -%}
									{% include 'img-global' with image: section.settings.image1, class: "featured-lookbook__img", effect: "fade-in" %}
								{%- else -%}
									<img class="lazyload fade-in" src="https://placehold.jp/620x878.png" width="620" height="878" />
								{%- endif -%}
							</div>
							{%- for block in section.blocks -%}
								{% if block.type == 'item' %}
									{%- assign name_pin = block.settings.name_pin -%}
									{%- assign product_handle = block.settings.product -%}
									{%- assign top = block.settings.top -%}
									{%- assign left = block.settings.left -%}
									{% if name_pin == "lookbook_1" %}
										<div class="lookbook-card__item" style="top: {{ top }}%; left: {{ left }}%;">
											<div class="lookbook-card__point">
												<div class="lookbook-card__button">
													<button class="lookbook-card__btn" data-toggle="modal" data-target="lookbook-{{ section.id }}-{{ id }}">
														<span>{{ j }}</span>
													</button>
												</div>
											</div>
										</div>
										{%- assign j = j | plus: 1 -%}
										{%- assign id = id | plus: 1 -%}
									{%- endif -%}
								{%- endif -%}
							{%- endfor -%}
						</div>
					</div>
				</div>
				<div class="lookbook__contents-right">
					{%- assign j = 1 -%}
					<div class="wpbingo-lookbook__item">
						<div class="lookbook-card">
							<div class="lookbook-image">
								{%- if section.settings.image2 != blank -%}
									{% include 'img-global' with image: section.settings.image2, class: "featured-lookbook__img", effect: "fade-in" %}
								{%- else -%}
									<img class="lazyload fade-in" src="https://placehold.jp/620x878.png" width="620" height="878" />
								{%- endif -%}
							</div>
							{%- for block in section.blocks -%}
								{% if block.type == 'item' %}
									{%- assign name_pin = block.settings.name_pin -%}
									{%- assign product_handle = block.settings.product -%}
									{%- assign top = block.settings.top -%}
									{%- assign left = block.settings.left -%}
									{% if name_pin == "lookbook_2" %}
										<div class="lookbook-card__item" style="top: {{ top }}%; left: {{ left }}%;">
											<div class="lookbook-card__point">
												<div class="lookbook-card__button">
													<button class="lookbook-card__btn" data-toggle="modal" data-target="lookbook-{{ section.id }}-{{ id }}">
														<span>{{ j }}</span>
													</button>
												</div>
											</div>
										</div>
										{%- assign j = j | plus: 1 -%}
										{%- assign id = id | plus: 1 -%}
									{%- endif -%}
								{%- endif -%}
							{%- endfor -%}
						</div>
					</div>
				</div>
			</div>
			<div class="content-title">
				<div class="content">
					{% if section.settings.title != blank %}
						<h2 class="tiltle-block">{{ section.settings.title }}</h2>
					{%- endif -%}
					{% if section.settings.desc != blank %}
						<div class="desc">{{ section.settings.desc }}</div>
					{%- endif -%}
					{% if section.settings.button != blank %}
						<a class="bwp-button {{ section.settings.style_button }}" href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
	{%- assign id = 0 -%}
	{%- for block in section.blocks -%}
		{% if block.type == 'item' %}
			{%- assign name_pin = block.settings.name_pin -%}
			{%- assign product_handle = block.settings.product -%}
			{%- assign alignment = block.settings.display -%}
			{%- render 'lookbook-item', product: all_products[product_handle], alignment: alignment, id: id -%}
			{%- assign id = id | plus: 1 -%}
		{%- endif -%}
	{%- endfor -%}
</section>
{% schema %}
    {
        "name": "Wpb Two Lookbook",
        "class": "wpbingoFramework",
        "settings": [
            {
                "type": "header",
                "content": "Layout settings"
            },
			{
                "type": "color",
                "id": "color",
                "label": "Background",
                "default": "#f7f2ed"
            },
            {
                "type": "text",
                "id": "max_width",
                "label": "Width container",
                "info": "Default: 1440px"
            },
            {
                "type": "checkbox",
                "id": "fullwidth",
                "label": "Fullwidth"
            },
            {
                "type": "text",
                "id": "padding",
                "label": "Padding",
                "placeholder": "0px 0px 0px 0px",
                "info":"Screen: desktop | 1200px | 991px | 767px"
            },
            {
                "type": "text",
                "id": "margin",
                "label": "Margin",
                "placeholder": "0px 0px 0px 0px",
                "info":"Screen: desktop | 1200px | 991px | 767px"
            },
            {
                "type": "header",
                "content": "Lookbook 1"
            },
			{
				"type": "image_picker",
				"id": "image1",
				"label": "Image"
			},
			{
                "type": "header",
                "content": "Lookbook 2"
            },
			{
				"type": "image_picker",
				"id": "image2",
				"label": "Image"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Title",
				"default": "Spring Collection"
			},
			{
				"type": "textarea",
				"id": "desc",
				"label": "Description",
				"default": "Vintage inspired & drawn by hand: you'll love our printed creat"
			},
			{
				"type": "text",
				"id": "button",
				"label": "Button",
				"default": "Shop now"
			},
			{
				"type": "url",
				"id": "button_url",
				"label": "Button Url",
				"default": "/"
			},
			{
				"type": "select",
				"id": "style_button",
				"label": "Style Button",
				"options": [
					{
						"value": "style_1",
						"label": "Style 1"
					},
					{
						"value": "style_2",
						"label": "Style 2"
					},
					{
						"value": "style_3",
						"label": "Style 3"
					}
				],
				"default": "style_1"
			}
        ],
        "blocks": [
			{
				"type": "@app"
			},
            {
                "type": "item",
                "name": "Pin Product",
                "settings": [
					{
                        "type": "select",
                        "id": "name_pin",
                        "label": "Pin for Image",
                        "default": "lookbook_1",
                        "options": [
                            {
                                "value": "lookbook_1",
                                "label": "Lookbook 1"
                            },
                            {
                                "value": "lookbook_2",
                                "label": "Lookbook 2"
                            }
                        ]
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Choose product"
                    },
                    {
                        "type": "select",
                        "id": "display",
                        "label": "Display type",
                        "default": "top-left",
                        "options": [
                            {
                                "value": "top-left",
                                "label": "Top left"
                            },
                            {
                                "value": "top-right",
                                "label": "Top right"
                            },
                            {
                                "value": "center-left",
                                "label": "Center left"
                            },
                            {
                                "value": "center-top",
                                "label": "Center top"
                            },
                            {
                                "value": "center-right",
                                "label": "Center right"
                            },
                            {
                                "value": "center-bottom",
                                "label": "Center bottom"
                            },
                            {
                                "value": "bottom-left",
                                "label": "Bottom left"
                            },
                            {
                                "value": "bottom-right",
                                "label": "Bottom right"
                            }
                        ]
                    },
                    {
                        "type": "range",
                        "id": "top",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "Offset top",
                        "default": 50
                    },
                    {
                        "type": "range",
                        "id": "left",
                        "min": 0,
                        "max": 100,
                        "step": 1,
                        "unit": "%",
                        "label": "Offset left",
                        "default": 50
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Wpb Two Lookbook",
                "category": "3. Lookbook",
				"blocks": [
					{
						"type": "item"
					}
				]
            }
        ]
    }
{% endschema %}