
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script> 

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
<link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'quick-view.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}


<div class="page-collections centered centered--wide section-{{ section.id }}-padding">
    <div class="collections__container">
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%} 
            <aside aria-labelledby="verticalTitle" class="collections__aside
                {% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}
                {% if section.settings.filter_type != 'vertical' %} page-width{% endif %}" 
                id="main-collection-filters" 
                data-id="{{ section.id }}">
                {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, filter_type: section.settings.filter_type %}
            </aside>
        {%- endif -%}

        <div class="collections__main">

            
           
                <div class="collections__toolbar" data-total="{{ collection.products.size  }}">
                    <div class="collections__toolbar__item">
                        <button class="collections__toolbar__button"  type="button" data-trigger="products-filters">
                            <svg viewBox="0 0 54 54" id="svg-filter">
                                <path d="M1 9h3v4a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9h35a1 1 0 1 0 0-2H18V3a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v4H1a1 1 0 1 0 0 2zm5-5h10v8H6V4zM53 26H34v-4a1 1 0 0 0-1-1H21a1 1 0 0 0-1 1v4H1a1 1 0 1 0 0 2h19v4a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-4h19a1 1 0 1 0 0-2zm-21 5H22v-8h10v8zM53 45h-3v-4a1 1 0 0 0-1-1H37a1 1 0 0 0-1 1v4H1a1 1 0 1 0 0 2h35v4a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-4h3a1 1 0 1 0 0-2zm-5 5H38v-8h10v8z"/>
                            </svg>  
                            Filter
                        </button>

                        {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
                            {% render 'filter-dropdown' %}
                        {%- endif -%}
                    </div>

                    <div class="collections__toolbar__item">   
                        <a id="list" class="collections__toolbar__view" href="javascript:" title="{{ 'collections.general.list_view' | t }}" data-view="list"><span></span><span></span><span></span></a>
                        <a id="grid-2" class="collections__toolbar__view" href="javascript:" title="{{ 'collections.general.list_view' | t }}" data-view="grid-2"><span></span><span></span></a>          
                        <a id="grid-3" class="collections__toolbar__view" href="javascript:" title="{{ 'collections.general.list_view' | t }}" data-view="grid-3"><span></span><span></span><span></span></a>         
                        <a id="grid-4" class="collections__toolbar__view" href="javascript:" title="{{ 'collections.general.list_view' | t }}" data-view="grid-4"><span></span><span></span><span></span><span></span></a> 
                    </div>    
                </div>
              
	        <!-- End toolbar -->

            <div id="ProductGridContainer">
            {%- paginate collection.products by section.settings.products_per_page -%}
                {%- if collection.products.size == 0 -%}
                    <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
                        <div class="loading-overlay gradient"></div>
                        <div class="title-wrapper center">
                            <h2 class="title title--primary">
                                {{ 'sections.collection_template.empty' | t }}<br>
                                {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
                            </h2>
                        </div>
                    </div>
                {%- else -%}
                    <div class="collections__grid collection"
                        id="product-grid" data-id="{{ section.id }}"
                        data-base-url="{{ collection.url }}"
                        data-current-page="{{ paginate.current_page }}"
                        data-total-pages="{{ paginate.pages }}"
                        data-next-url="{{ paginate.next.url }}"
                        data-page-size="{{ paginate.page_size }}"
                        data-total-items="{{ paginate.items }}">

                        <div class="loading-overlay gradient"></div>

                        {%- for product in collection.products -%}
                            {% assign lazy_load = false %}

                            {%- if forloop.index > 2 -%}
                                {%- assign lazy_load = true -%}
                            {%- endif -%}

                            <div class="collections__grid__item">
                                {% render 'card-product',
                                    card_product: product,
                                    media_aspect_ratio: section.settings.image_ratio,
                                    show_secondary_image: section.settings.show_secondary_image,
                                    show_vendor: section.settings.show_vendor,
                                    show_rating: section.settings.show_rating,
                                    lazy_load: lazy_load,
                                    quickview_enable: section.settings.quickview_enable,
                                    buttons_color_scheme: section.settings.buttons_color_scheme,
                                    show_quick_add: section.settings.enable_quick_add,
                                    section_id: section.id
                                %}
                            </div>
                        {%- endfor -%}
                    </div>
            
                    {%- assign min_page = 1 -%}
                    {%- assign max_page = paginate.page_size | times: paginate.current_page -%}
                    {%- if paginate.current_page > 1 -%}
                        {%- assign current_page = paginate.current_page | minus:1 -%}
                    {%- endif -%}

                    {%- if max_page > paginate.items -%}
                        {%- assign max_page = paginate.items -%}
                    {%- endif -%}

                    {% assign percent =  max_page | times: 100 | divided_by: paginate.items %}
                    {%- if max_page <= paginate.items -%}    
                        <div class="collections__footer">
                            {%- if section.settings.numproduct_enable and settings.select_pagination == 'loadmore' and percent < 100 -%}
                                <div class="collections__footer__count">
                                    {{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}
                                </div>
                                <div class="collections__footer__perc">
                                    <div class="percent" style="width:{{percent}}%">&nbsp;</div>
                                </div>
                            {%- endif -%}

                            {%- if paginate.pages > 1 -%}
                                {% render 'pagination', paginate: paginate, anchor: '' %}
                            {%- endif -%}
                        </div>
                     {%- endif -%}

                {%- endif -%}
        {%- endpaginate -%}
      </div>
	        <!-- End products grid-->
		</div>
        <!-- End collections main-->
	</div>
	<!-- End collections container -->
</div>
<!-- End page collections-->

{% schema %}
{
"name": "t:sections.main-collection-product-grid.name",
"class": "section",
"settings": [
  {
    "type": "range",
    "id": "products_per_page",
    "min": 8,
    "max": 24,
    "step": 4,
    "default": 16,
    "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
  },
  {
    "type": "range",
    "id": "columns_desktop",
    "min": 1,
    "max": 5,
    "step": 1,
    "default": 4,
    "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
  },
  {
    "type": "header",
    "content": "t:sections.main-collection-product-grid.settings.header__3.content"
  },
  {
    "type": "select",
    "id": "image_ratio",
    "options": [
      {
        "value": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
      },
      {
        "value": "portrait",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
      },
      {
        "value": "square",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
      }
    ],
    "default": "adapt",
    "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
  },
  {
    "type": "checkbox",
    "id": "show_secondary_image",
    "default": false,
    "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
  },
  {
    "type": "checkbox",
    "id": "show_vendor",
    "default": false,
    "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
  },
  {
    "type": "checkbox",
    "id": "show_rating",
    "default": false,
    "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
    "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
  },
  {
      "type": "checkbox",
      "id": "quickview_enable",
      "label": "Enable quickview"
    },
  {
    "type": "checkbox",
    "id": "enable_quick_add",
    "default": false,
    "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
  },
  {
      "type": "select",
      "id": "buttons_color_scheme",
      "options": [          
        {
          "value": "light",
          "label": "t:sections.all.colors.light.label"
        },
        {
          "value": "dark",
          "label": "t:sections.all.colors.dark.label"
        },
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },
  {
    "type": "header",
    "content": "t:sections.main-collection-product-grid.settings.header__1.content"
  },
  {
    "type": "checkbox",
    "id": "enable_filtering",
    "default": true,
    "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
    "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
  },
  {
    "type": "select",
    "id": "filter_type",
    "options": [
      {
        "value": "horizontal",
        "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
      },
      {
        "value": "vertical",
        "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
      },
      {
        "value": "drawer",
        "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
      }
    ],
    "default": "horizontal",
    "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
    "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
  },
  {
    "type": "checkbox",
    "id": "enable_sorting",
    "default": true,
    "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
  },
  {
    "type": "header",
    "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
  },
  {
    "type": "select",
    "id": "columns_mobile",
    "default": "2",
    "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
    "options": [
      {
        "value": "1",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
      },
      {
        "value": "2",
        "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
      }
    ]
  },
  {
    "type": "header",
    "content": "t:sections.all.padding.section_padding_heading"
  },
  {
    "type": "range",
    "id": "padding_top",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_top",
    "default": 36
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "min": 0,
    "max": 100,
    "step": 4,
    "unit": "px",
    "label": "t:sections.all.padding.padding_bottom",
    "default": 36
  },
  {
    "type": "header",
    "content": "Product Count"
  },
  {
    "type": "checkbox",
    "id": "numproduct_enable",
    "label": "Enable",
    "default": true
  }
]
}
{% endschema %}