
{%- if section.settings.mobile_layout == "column" -%}
	{%- style -%}
		@media screen and (max-width: 750px) {
			.masonery {
				grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
				grid-auto-flow: dense;
			}

			.masonery__item--wide {
				grid-column: span 1;
			}

			.masonery__item--tall {
				grid-row: span 1;
			}
		}

	{%- endstyle -%}
  {%- endif -%} 


{%- style -%}
.section-masonery{
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}


@media screen and (min-width: 750px) {
  .section-masonery {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="section-masonery color-{{ section.settings.color_scheme }} gradient isolate ">
    <div class="centered centered-slim">

        <h2 class="collage-wrapper-title {{ section.settings.heading_size }} {{ section.settings.heading_placement }}">
            {{ section.settings.heading | escape }}
        </h2>
    
        <div class="masonery">

            {%- for block in section.blocks -%}

                <div class="masonery__item masonery__item--{{ block.settings.card_style }} justify-content-{{ block.settings.alignment }}">

                    {%- case block.type -%}
                        {%- when 'collection' -%}
                            
                        {%- liquid assign card_collection = block.settings.collection -%}
                        {%- liquid assign columns = 2 -%}

                        <img srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ block.settings.collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 330 -%}{{ block.settings.collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 535 -%}{{ block.settings.collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 750 -%}{{ block.settings.collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 1000 -%}{{ block.settings.collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 1500 -%}{{ block.settings.collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if card_collection.featured_image.width >= 3000 -%}{{ block.settings.collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {{ block.settings.collection.featured_image | image_url }} {{ block.settings.collection.featured_image.width }}w"
                            src="{{ block.settings.collection.featured_image | image_url: width: 1500 }}"
                            sizes="
                            (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                            (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                            calc(100vw - 3rem)"
                            alt=""
                            height="{{ block.settings.collection.featured_image.height }}"
                            width="{{ block.settings.collection.featured_image.width }}"
                            loading="lazy"
                            class="motion-reduce"
                            >

                            <div class="masonery__item__content ">
                                
                                {%- if block.settings.subheading != blank -%}
                                    <p class="masonery__subtitle" style="--foreground: {{ block.settings.subheading_color }}">
                                        {{- block.settings.subheading | strip_html | truncatewords: 300 -}}
                                    </p>
                                {%- endif -%}
                                
                                <p class="masonery__title upper"  style="--foreground: {{ block.settings.heading_color }}">
                                    {%- if block.settings.heading != blank -%}
                                        {{- block.settings.heading | strip_html | truncatewords: 300 -}}
                                    {%- elsif card_collection.title != blank -%}
                                        {{- card_collection.title | escape -}}
                                      {%- else -%}
                                        {{ 'onboarding.collection_title' | t }}
                                    {%- endif -%}    
                                </p>

                                <a href="{{ card_collection.url }}" class="{{ block.settings.button_type }} {{ block.settings.button_style }} {{ block.settings.button_size }}">
                                   {{ block.settings.button_label }}
                                </a>
                            </div>
                    {%- endcase -%}

                   
                </div>

            {%- endfor -%}

        </div>
    </div>
</div>

{% schema %}
{
	"name": "t:sections.masonery.name",
	"tag": "section",
	"class": "section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"default": "Multimedia collage",
			"label": "t:sections.masonery.settings.heading.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h0",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "select",
			"id": "heading_placement",
			"label": "t:sections.all.alignment.label",
			"default": "center",
			"options": [
				{
					"value": "left",
					"label": "t:sections.all.alignment.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.all.alignment.options__2.label"
				},
				{
					"value": "right",
					"label": "t:sections.all.alignment.options__3.label"
				}
			]
		},
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                },
                {
                    "value": "light",
                    "label": "t:sections.all.colors.light.label"
                },
                {
                    "value": "dark",
                    "label": "t:sections.all.colors.dark.label"
                },
                {
                    "value": "scheme-1",
                    "label": "t:sections.all.colors.scheme_1.label"
                },
                {
                    "value": "scheme-2",
                    "label": "t:sections.all.colors.scheme_2.label"
                },
                {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                },         
                {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                }
            ],
            "default": "scheme-1",
            "label": "t:sections.all.colors.label"
        },
		{
			"type": "select",
			"id": "mobile_layout",
			"options": [
				{
					"value": "collage",
					"label": "t:sections.masonery.settings.mobile_layout.options__1.label"
				},
				{
					"value": "column",
					"label": "t:sections.masonery.settings.mobile_layout.options__2.label"
				}
			],
			"default": "collage",
			"label": "t:sections.masonery.settings.mobile_layout.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": "t:sections.masonery.blocks.collection.name",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "t:sections.masonery.blocks.collection.settings.collection.label"
				},
				{
					"type": "select",
					"id": "card_style",
					"options": [
						{
							"value": "x",
							"label": "t:sections.masonery.blocks.card_style.options__1.label"
						},
						{
							"value": "wide",
							"label": "t:sections.masonery.blocks.card_style.options__2.label"
						},
						{
							"value": "tall",
							"label": "t:sections.masonery.blocks.card_style.options__3.label"
						}
					],
					"default": "x",
					"label": "t:sections.masonery.blocks.card_style.label"
				},
				{
					"type": "header",
					"content": "Headings"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "t:sections.masonery.blocks.heading.label",
					"info": "t:sections.masonery.blocks.heading.info"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "t:sections.masonery.blocks.heading_color.label",
					"default": "#FFFFFF"
				},
				{
					"type": "text",
					"id": "subheading",
					"label": "t:sections.masonery.blocks.subheading.label"
				},
				{
					"type": "color",
					"id": "subheading_color",
					"label": "t:sections.masonery.blocks.subheading_color.label",
					"default": "#FFFFFF"
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "t:sections.all.alignment.label",
					"default": "center",
					"options": [
						{
							"value": "start",
							"label": "t:sections.all.alignment.options__1.label"
						},
						{
							"value": "center",
							"label": "t:sections.all.alignment.options__2.label"
						},
						{
							"value": "end",
							"label": "t:sections.all.alignment.options__3.label"
						}
					]
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Nu winkelen",
					"label": "t:sections.button.button_label"
				},
				{
					"type": "select",
					"id": "button_type",
					"label": "t:sections.button.button_type.label",
					"default": "btn",
					"options": [
						{
							"value": "btn",
							"label": "t:sections.button.button_type.options__1.label"
						},
						{
							"value": "btn-outline",
							"label": "t:sections.button.button_type.options__2.label"
						},
						{
							"value": "btn-framed",
							"label": "t:sections.button.button_type.options__3.label"
						}
					]
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "t:sections.button.button_style.label",
					"default": "btn-secondary",
					"options": [
						{
							"value": "btn",
							"label": "t:sections.button.button_style.options__1.label"
						},
						{
							"value": "btn-light",
							"label": "t:sections.button.button_style.options__2.label"
						},
						{
							"value": "btn-primary",
							"label": "t:sections.button.button_style.options__3.label"
						},
						{
							"value": "btn-secondary",
							"label": "t:sections.button.button_style.options__4.label"
						}
					]
				},
				{
					"type": "select",
					"id": "button_size",
					"label": "t:sections.button.button_size.label",
					"default": "x",
					"options": [
						{
							"value": "btn-sm",
							"label": "t:sections.button.button_size.options__1.label"
						},
						{
							"value": "x",
							"label": "t:sections.button.button_size.options__2.label"
						},
						{
							"value": "btn-md",
							"label": "t:sections.button.button_size.options__3.label"
						},
						{
							"value": "btn-lg",
							"label": "t:sections.button.button_size.options__4.label"
						}
					]
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.masonery.presets.name",
			"blocks": [
				{
					"type": "collection"
				}
			]
		}
	]
}
{% endschema %}